body {
  text-align: center;
  margin: 0;
  font-family: 'Merriweather Sans', sans-serif;
}

h1 {
  font-family: 'Sacramento', cursive;
  margin: 0;
}

h2 {
  font-family: 'Montserrat', sans-serif;

}

h3 {
  font-family: 'Montserrat', sans-serif;
}



.My-picture {
  border-radius: 100%;
  width: 200px;
}
.skills-icon{
  border-radius: 0;
  width: 200px;
}

.top-container {
  background-color: #E4F9F5;
  padding-top: 100px;
}

.middle-container {
}

.bottom-container {
}

.top-cloud {
  position: absolute;
  right: 350px;
  top: 48px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  top: 200px;
}
